<div class="container">
  <h1>Account Login</h1>
  <form action="/login" method="post">
    <p>
      <input type="email" placeholder="Email" name="email" required>
    </p>

    <p>
      <input type="password" placeholder="Password" name="password" required>
    </p>

    <button type="submit">Sign in</button>
  </form>
</div>