<div class="container">
  <div class="row">
    <div class="col-auto mx-auto mt-3">
      <h1>Account Login</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mx-auto mb-3">
      cookie:
      <div class="badge bg-primary text-wrap">
        {{#if cookieStatus}} id: {{user._id}} {{else}} no cookie {{/if}}
      </div>
    </div>
    </div>

  <form action="/login" method="post">
    <div class="row">
      <div class="col-auto mx-auto">
        <p>
          <input type="email" placeholder="Email" name="email" required>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mx-auto">
        <p>
          <input type="password" placeholder="Password" name="password" required>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mx-auto">
        <button class="btn btn-outline-dark" type="submit">Sign in</button>
      </div>
    </div>
  </form>

  {{#if noFind}}
  <div class="row">
    <div class="col-auto mx-auto mt-3">
      <div class="alert alert-danger" role="alert">
        找不到帳號或密碼錯誤
      </div>
    </div>
  </div>
  {{/if}}
  
</div>

